.post-list-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .post-item {
    width: 1.8rem;
    min-width: 250px;
    margin-bottom: 15px;
  }
}
